Jokes

In [1]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/jester-data-1.csv',header=None)

df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
5,100,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05,-3.45
6,47,99.00,99.00,99.00,99.00,8.59,-9.85,7.72,8.79,99.00,...,99.00,99.00,99.00,99.00,99.00,2.33,99.00,99.00,99.00,99.00
7,100,6.84,3.16,9.17,-6.21,-8.16,-1.70,9.27,1.41,-5.19,...,7.23,-1.12,-0.10,-5.68,-3.16,-3.35,2.14,-0.05,1.31,0.00
8,100,-3.79,-3.54,-9.42,-6.89,-8.74,-0.29,-5.29,-8.93,-7.86,...,4.37,-0.29,4.17,-0.29,-0.29,-0.29,-0.29,-0.29,-3.40,-4.95
9,72,3.01,5.15,5.15,3.01,6.41,5.15,8.93,2.52,3.01,...,99.00,4.47,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00

In [4]:
df = df.replace(99, np.nan)
df = df.drop([0], axis = 1)

df.shape

(24983, 100)

In [6]:
joke_mean = sorted(df.mean())
joke_max = max(joke_mean)
joke_min = min(joke_mean)
print('Max ', joke_max, 'Min ', joke_min)

Max  3.6650848950824937 Min  -3.8338796373689923

In [7]:
df.iloc[19118,2]

3.74

Movies

In [20]:
items_df = pd.read_excel('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/movies_latent_factors.xlsx', sheet_name='Items')
users_df = pd.read_excel('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/movies_latent_factors.xlsx', sheet_name='Users')

In [14]:
items_df[movie_items_data['Movie ID'] == 13]

,Movie ID,Title,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
2,13,Forrest Gump (1994),-2.240888,-0.438815,-2.275177,0.614548,0.904469,0.711919,-0.420876,1.302036,-0.868418,-0.160122,0.633667,0.133138,-0.330276,-2.209004,-0.419092

In [17]:
items_df[items_df['Factor14'] == items_df['Factor14'].max() ]

,Movie ID,Title,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
47,597,Titanic (1997),1.567865,-1.516952,-2.523378,1.204485,1.729541,-0.088941,0.102822,1.747792,1.816958,-2.986807,-0.589441,-2.568582,0.370387,2.215933,0.456127

In [25]:
np.array(users_df[users_df['User'] == 4940 ].loc[:,'Factor1':]).dot(np.array(items_df[items_df['Movie ID']==197].loc[:,'Factor1':]).reshape(-1,1))

array([[0.0794957]])

In [26]:
np.array(users_df[users_df['User'] == 768  ].loc[:,'Factor1':]).dot(np.array(items_df[items_df['Movie ID']==453].loc[:,'Factor1':]).reshape(-1,1))

array([[0.02998886]])

In [21]:
def recommend_movie(user, num_recommendations):
  user = np.array(users_df[users_df['User'] == user].loc[:,'Factor1':])
  scores = pd.DataFrame(columns=['ratings','Movie'])
  movie_id = items_df['Movie ID']
  count = 0
  for i in items_df.drop(['Movie ID'],axis=1).values:
    rating = user.dot(i[1:].reshape(-1,1))
    movie_dict = {'ratings':rating,'Movie':i[0],'Movie ID':movie_id[count]}
    scores = scores.append(movie_dict, ignore_index=True)
    count += 1
  return scores.sort_values('ratings', ascending=False).head(num_recommendations)

In [22]:
recommend_movie(4529, 3)

                   ratings                   Movie  Movie ID
47  [[1.6259524690253646]]          Titanic (1997)     597.0
1   [[0.8660518849057814]]     Finding Nemo (2003)      12.0
21  [[0.8174992821795523]]  The Dark Knight (2008)     155.0

In [23]:
recommend_movie(4997, 3)

                   ratings                        Movie  Movie ID
39  [[2.6203230096438954]]      A Beautiful Mind (2001)     453.0
84  [[2.3911005096559457]]  The Bourne Supremacy (2004)    2502.0
83  [[2.3300021068604044]]   The Bourne Identity (2002)    2501.0